body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 249, 191);
    font-size: 56px;
    color: #75B79E;
    width: 100vw;
}

h1 {
    margin-top: 40px;
    margin-bottom: 47px;
    text-align: center;
    font-size: 56px;
    color: #75B79E;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.lista {
    display: flex;
    justify-content: center;
    margin: 0 6vw;
    display: relative;
}   

li {
    width: 10vw;
    height: 25vh;
    background: rgba(167, 233, 175, 1);
    border: 1px solid rgba(153, 206, 168, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 70%;
    width: 75%;
}

.face {
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.back-face {
    transform: rotateY(180deg);
}

.showFront {
    transform: rotateY(0);
}

.hideBack {
    transform: rotateY(-180deg);
}

.display {
    display: flex;
    margin-top: 70px;
    height: 25vh;
    margin: 70px auto;
    justify-content: center;
}

.display2 {
    display: flex;
    height: 25vh;
    margin: 70px auto;
    justify-content: center;
}


@media (max-width: 600px) {
    .display {
        flex-direction: column;
        height: auto;
        margin-top: 0;
    }

    .lista {
        margin: 90px 0;
    }

    .lista:first-child {
        margin-top: 0;
    }

    li {
        width: 117px;
        height: 146px;
    }
    .display2 {
        flex-direction: column;
        height: auto;
    }

    .display2 .lista:first-child {
        margin-top: 20px;
    }


}

